.html
{
	background-color: #998675;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 877.8500000000004px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 27px;
}

#slideshowu69
{
	z-index: 2;
	width: 0.01px;
	height: 851px;
	left: -109px;
}

#u82popup
{
	z-index: 3;
}

#u82
{
	width: 1177px;
	height: 771px;
}

#u2321
{
	z-index: 4;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u2321_img
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#u3625
{
	z-index: 6;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3625_img
{
	padding-top: 108px;
	padding-bottom: 108px;
}

#u3634
{
	z-index: 8;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3634_img
{
	padding: 198px 424px;
}

#u3643
{
	z-index: 10;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3643_img
{
	padding-left: 102px;
	padding-right: 102px;
}

#u3652
{
	z-index: 12;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3652_img
{
	padding: 122px 352px;
}

#u3661
{
	z-index: 14;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3661_img
{
	padding: 112px 377px;
}

#u3670
{
	z-index: 16;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3670_img
{
	padding-top: 25px;
	padding-bottom: 25px;
}

#u3679
{
	z-index: 18;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3679_img
{
	padding-left: 347px;
	padding-right: 347px;
}

#u3688
{
	z-index: 20;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3688_img
{
	padding-left: 22px;
	padding-right: 22px;
}

#u3697
{
	z-index: 22;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3697_img
{
	padding-left: 332px;
	padding-right: 332px;
}

#u3706
{
	z-index: 24;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3706_img
{
	padding-left: 27px;
	padding-right: 27px;
}

#u3715
{
	z-index: 26;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3724
{
	z-index: 28;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3724_img
{
	padding-left: 9px;
	padding-right: 9px;
}

#u3733
{
	z-index: 30;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3733_img
{
	padding-left: 344px;
	padding-right: 345px;
}

#u3742
{
	z-index: 32;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3742_img
{
	padding-left: 342px;
	padding-right: 342px;
}

#u3751
{
	z-index: 34;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3751_img
{
	padding-left: 335px;
	padding-right: 336px;
}

#u3760
{
	z-index: 36;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3760_img
{
	padding-left: 351px;
	padding-right: 352px;
}

#u3769
{
	z-index: 38;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3769_img
{
	padding-left: 305px;
	padding-right: 306px;
}

#u3778
{
	z-index: 40;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3778_img
{
	padding-left: 343px;
	padding-right: 342px;
}

#u3787
{
	z-index: 42;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3787_img
{
	padding-left: 153px;
	padding-right: 153px;
}

#u3796
{
	z-index: 44;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3796_img
{
	padding-left: 229px;
	padding-right: 229px;
}

#u3805
{
	z-index: 46;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3805_img
{
	padding-top: 11px;
	padding-bottom: 12px;
}

#u3814
{
	z-index: 48;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3814_img
{
	padding-left: 343px;
	padding-right: 344px;
}

#u3823
{
	z-index: 50;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3832
{
	z-index: 52;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3832_img
{
	padding-top: 5px;
	padding-bottom: 4px;
}

#u3841
{
	z-index: 54;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3841_img
{
	padding-top: 41px;
	padding-bottom: 41px;
}

#u3850
{
	z-index: 56;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3823_img,#u3850_img
{
	padding-left: 341px;
	padding-right: 341px;
}

#u3859
{
	z-index: 58;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3859_img
{
	padding-left: 305px;
	padding-right: 304px;
}

#u3868
{
	z-index: 60;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3868_img
{
	padding-left: 330px;
	padding-right: 329px;
}

#u3877
{
	z-index: 62;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3877_img
{
	padding-left: 326px;
	padding-right: 325px;
}

#u3886
{
	z-index: 64;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3886_img
{
	padding-left: 1px;
	padding-right: 2px;
}

#u3895
{
	z-index: 66;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3895_img
{
	padding-left: 338px;
	padding-right: 337px;
}

#u3904
{
	z-index: 68;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3715_img,#u3904_img
{
	padding-left: 342px;
	padding-right: 343px;
}

#u3913
{
	z-index: 70;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3913_img
{
	padding-left: 327px;
	padding-right: 327px;
}

#u3922
{
	z-index: 72;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3922_img
{
	padding-left: 336px;
	padding-right: 337px;
}

#u3931
{
	z-index: 74;
	width: 1177px;
	height: 771px;
	margin-right: -10000px;
}

#u3931_img
{
	padding-left: 334px;
	padding-right: 334px;
}

#u89-4popup
{
	z-index: 76;
}

#u89-4
{
	width: 62px;
	min-height: 20px;
	padding: 10px;
	top: 812px;
	left: 565px;
}

#u113-4popup
{
	z-index: 80;
}

#u113-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 812px;
	left: 534px;
}

#u74-4popup
{
	z-index: 84;
}

#u74-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 812px;
	left: 649px;
}

body
{
	padding-top: 7px;
	padding-bottom: 11px;
}

#page .verticalspacer
{
	clear: both;
}

